.footer {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
  	text-align: center;
}

a.nav-link.fa.fa-shopping-cart.fa-1x{
	margin-top: 5px;
}

a.fa.fa-twitter.fa-2x,a.fa.fa-facebook.fa-2x {
	color: #343a40;	
}
